.carousel .card-container{
    padding:0px 10px;
    
    
}

/* .carousel .card-container>*{
    position:absolute;

} */

.carousel img,.carousel iframe{
    height:40vh;
    width:30vw;
    object-fit:cover;
    
}

@media (max-width:480px){
    .carousel img,.carousel iframe{
        min-height:60vh;
        width:80vw;
        object-fit:cover;
        
    }
   
  }