



.heart-container {
    /* default heart size */
  --heart-size: 80px;
  position: relative;
  display: inline-block;
  width: calc(var(--heart-size) * 1.4);
  height: calc(var(--heart-size) * 1.4);
}
/* when heart is not liked, hovered will make them to like */
.unliked:hover {
    animation-name: like;
    cursor: pointer;
    animation: like 0.5s linear 1 forwards;
  }

.liking{
    animation: like 2s linear 1 forwards;

}

.liked {
  color: red;
  
}

.heart {
  font-size: var(--heart-size);
  display: block;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes like {
  25% {
    font-size: calc(var(--heart-size) * 1.05);
  }
  50% {
    font-size: calc(var(--heart-size) * 1.2);
  }
  75% {
    font-size: calc(var(--heart-size) * 1.3);
  }
  100% {
    color: red;
    font-size: calc(var(--heart-size) * 1);
  }
}
