.cover{
    position:absolute;
    width:100vw;
    height:100vh;
    background-color: var(--dark-navy);
    opacity:0.7;
    z-index:10000;
}
main{
    position:relative;
    margin:0 3vw;

}

@media (max-width:480px){
  .image-tab .desktop-grid{
    display:none !important;
  }
  .image-tab .mobile-grid{
    display:block !important;
  }
  

}