


.image-tab {
  position: absolute;
  left: 10%;
  padding:10px;
  top: 10%;
  z-index: 2;
  width: 80vw;
  border-radius:10px;
  min-height:50vh;
  background-color: var(--dark-slate);
  color: var(--slate);
  
}

.highlight {
  color: var(--green);
}

.image-tab .explanation{
  overflow-wrap:anywhere;
 

}



.image-tab img,.image-tab iframe{
  width:100%;
  object-fit:cover;
  max-height:50vh;
  margin:auto;
}




.image-tab .button-menu{
  background-color:transparent !important;
  width:100% !important;
  border:none !important;

}

.image-tab .button-menu .item{
  padding:.92857143em 1% !important;
}

.image-tab .mobile-grid{
  display:none !important;
}





@media (max-width:480px){
  .image-tab .desktop-grid{
    display:none !important;
  }
  .image-tab .mobile-grid{
    display:block !important;
  }

  

  .image-tab img{
    max-height:25vh;
  }
  

}