html {
  height: 100%;
  min-width: 220px;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --font-sans: "Calibre", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-dance: "Dancing Script", cursive;
}

html {
  font-size: 28px;
  min-width:30px;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root,
.App
{
  width:100%;
  height:100%;


}

/* colour theme during dark mode */
.light-mode,
.dark-mode {
  position: fixed;
    width: 100%;
    height: 100%;
}

.dark-mode {
  --text-color: var(--slate);
  --background: var(--dark-navy);
  --highlight: var(--green);

  color: var(--text-color);
  background-color: var(--background);
}
/* colour theme during light mode */
.light-mode {
  
  --background: var(--slate);
  --highlight: var(--navy);
  --text-color:var(var(--dark-navy));

  background-color: var(--background);
  color: var(--text-color);
  
}

/* @media (max-width: 480px) {
  .light-mode,
  .dark-mode {
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
} */

.hightlight {
  color: var(--highlight);
}

.secondary {
  color: var(--lightest-slate);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 5px 0px !important;
  padding: 0px !important;
  display: flex;

  align-items: center;
}

h5 {
  font-size: clamp(5px, 1.5vw, 20px) !important;
}

h4 {
  font-size: clamp(10px, 1.7vw, 20px) !important;
}

h3 {
  font-size: clamp(15px, 2vw, 30px) !important;
}
h2 {
  font-size: clamp(25px, 2.5vw, 50px) !important;
}
h1 {
  font-size: clamp(30px, 3.5vw, 80px) !important;
}
